---
import { type CollectionEntry, getCollection } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import SocialList from "@/components/SocialList.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort) as CollectionEntry<"post">[];
const latestPosts = allPostsByDate.slice(0, MAX_POSTS);

// Pinned Posts, set to a max of 3;
const MAX_PINNED_POSTS = 3;
const pinnedPosts = allPostsByDate.filter((p) => p.data.pinned).slice(0, MAX_PINNED_POSTS);

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes
	.sort(collectionDateSort)
	.slice(0, MAX_NOTES) as CollectionEntry<"note">[];
---

<PageLayout meta={{ title: "Home" }}>
	<section class="-mt-10">
		<h1 class="title mb-5">Hello World!</h1>
		<img
			src="/pct_falls.jpeg"
			alt="Percentage falls"
			class="mb-6 block w-full rounded-md shadow-sm"
		/>
		<p class="mb-4">
			Jamie Santos is a PhD student and graduate researcher in the <a
				href="https://web.engr.oregonstate.edu/~ktumer/"
				class="text-sky-600 hover:underline"
				target="_blank"
				rel="noopener noreferrer"
			>
				Autonomous Agents and Distributed Intelligence Laboratory
			</a>
			at OSU. Previously, she was a robotics research engineer at the <a
				href="https://rad.engr.tamu.edu/"
				class="text-sky-600 hover:underline"
				target="_blank"
				rel="noopener noreferrer"
			>
				RAD Lab at Texas A&M University
			</a> where she was developing a customizable robotic manipulator for commercial space stations and
			lunar rovers. Jamie completed her master's degree in complex adaptive systems at <a
				href="https://www.chalmers.se/en/education/find-masters-programme/complex-adaptive-systems-msc/"
				class="text-sky-600 hover:underline"
				target="_blank"
				rel="noopener noreferrer"
			>
				Chalmers University of Technology
			</a>
			in Göteborg, Sweden. At NASA Ames, she explored autonomous methods of alerting robots, like <a
				href="https://www.nasa.gov/astrobee/"
				class="text-sky-600 hover:underline"
				target="_blank"
				rel="noopener noreferrer"
			>
				Astrobee,
			</a> of changes in their environments, such as the ISS. Her background is in embedded software engineering,
			graduating with a BS in Electrical Engineering from the <a
				href="https://www.ece.uw.edu/"
				class="text-sky-600 hover:underline"
				target="_blank"
				rel="noopener noreferrer"
			>
				University of Washington
			</a> and working as an embedded software engineer at <a
				href="https://blog.phytec.com/phykarl-aws-machine-learning-and-phytec"
				class="text-sky-600 hover:underline"
				target="_blank"
				rel="noopener noreferrer"
			>
				PHYTEC
			</a> in Seattle for three years. Jamie is a runner and outdoors enthusiast. In 2025, she <a
				href="https://thetrek.co/author/jamie-santos/"
				class="text-sky-600 hover:underline"
				target="_blank"
				rel="noopener noreferrer"
			>
				thru-hiked the Pacific Crest Trail,
			</a> a 2,650 mile trail from the Mexican border to the Canadian border.
		</p>
		<SocialList />
	</section>
	{
		pinnedPosts.length > 0 && (
			<section class="mt-16">
				<h2 class="title text-accent mb-6 text-xl">Pinned Posts</h2>
				<ul class="space-y-4" role="list">
					{pinnedPosts.map((p) => (
						<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
							<PostPreview post={p} />
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
